<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Add Problem Page</title>
  </head>
  <body>
    <form  method="post">
        <label for="tags[]">Tags: &nbsp;</label>Check the appropriate tags<br>
        <input type="checkbox" value="Algorithms" name="tags[]">Algorithms
        <input type="checkbox" value="Data Structures" name="tags[]">Data Structures
        <input type="checkbox" value="Recursion" name="tags[]">Recursion
        <input type="checkbox" value="Dynamic Programming" name="tags[]">Dynamic Programming<br>
        <textarea name="pstatement" rows="25" cols="50" style="resize:none" placeholder="Enter the problem details here..."></textarea><br>
        <input type="submit"  value="Add Problem">
    </form>
  </body>
</html>
