<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
		<title>Add Problem Page</title>
		<link rel="stylesheet" href="/assets/css/addProblem.css">
		<script src="/scripts/jquery/dist/jquery.min.js"></script>
		<script src="/scripts/addProblem.js"></script>
    <script type="text/javascript">
      function insertTab(o, e)
        {
        	var kC = e.keyCode ? e.keyCode : e.charCode ? e.charCode : e.which;
        	if (kC == 9 && !e.shiftKey && !e.ctrlKey && !e.altKey)
        	{
        		var oS = o.scrollTop;
        		if (o.setSelectionRange)
        		{
        			var sS = o.selectionStart;
        			var sE = o.selectionEnd;
        			o.value = o.value.substring(0, sS) + "\t" + o.value.substr(sE);
        			o.setSelectionRange(sS + 1, sS + 1);
        			o.focus();
        		}
        		else if (o.createTextRange)
        		{
        			document.selection.createRange().text = "\t";
        			e.returnValue = false;
        		}
        		o.scrollTop = oS;
        		if (e.preventDefault)
        		{
        			e.preventDefault();
        		}
        		return false;
        	}
        	return true;
        }
        function generate(value){
			document.getElementById("test-cases").innerHTML="";
			if(value == 0){
				return;
			}
			else{
				for(var i=0;i< value; i++){
					var br = document.createElement("BR");
					var div = document.createElement("DIV");
					var inp = document.createElement("TEXTAREA")
					var out = document.createElement("TEXTAREA");
					inp.setAttribute('placeholder','Enter input here');
					out.setAttribute('placeholder','Expected output');
					inp.setAttribute('rows','8');
					inp.setAttribute('cols','30');
					out.setAttribute('rows','8');
					out.setAttribute('cols','30');
					inp.setAttribute('style','resize:none');
					out.setAttribute('style','resize:none');
					inp.setAttribute('name','inp');
					out.setAttribute('name','out');
					div.innerHTML= "Test Case"+(i+1);
					div.appendChild(inp);
					div.innerHTML += '&nbsp;';;
					div.appendChild(out);
					div.appendChild(br);
					div.setAttribute('id',value);
					// var child = document.createElement('TEXTAREA')
					// child.setAttribute('type','number');
					document.getElementById("test-cases").appendChild(div);
					document.getElementById("test-cases").appendChild(br);
					// alert("Change detected "+value);
				}
			}
		}
    </script>
  </head>
  <body>
		<%include header.ejs%>
		<% if(JSON.parse(JSON.stringify(data)).status == 'success'){ %>
		<div class="popup"><%= JSON.parse(JSON.stringify(data)).msg %><button id="OK">Ok</button></div>
		<% }%>
		<form  method="post">
				<label for="tags[]">Tags: &nbsp;</label>Check the appropriate tags<br><br>
				<% var tag_list=JSON.parse(JSON.stringify(data)).tags %>
				<% for(var i=0;i<tag_list.length;i++) {%>
				<label class="container"><%= tag_list[i].category %>
          <input type="checkbox" value="<%= tag_list[i].category %>" name="tags[]">
          <span class="checkmark"></span>
				</label>
				<% }%>
				 <br>
				
				<strong>Didn't find the tag?</strong>
				<a href="/addTag">Click here</a> to add a tag <br><br><br>
        <label for="pstatement">Problem Statement:</label><br><br>
        <textarea class="card" name="pstatement" rows="8" cols="80" style="resize:none" placeholder="Enter the problem details here..."></textarea>
        <br><label for="constraints">Constraints</label><br><br>
        <textarea class="card" name="constraints" onkeydown="insertTab(this, event);" rows="8" cols="80" style="resize:none" placeholder="Enter the problem constraints here..."></textarea><br>
        <br><label for="sample_io">Sample Input-Output</label><br>
        Number of Test Cases:<input type="number" name="test_cases" min="0" max="10" onchange="generate(this.value)"><br>
        <div id="test-cases"></div>
		<input type="submit"  value="Add Problem">
    </form>
  </body>
</html>
