<html>
    <head>
        <title>Add Tag Page</title>
        <link rel="stylesheet" href="/assets/css/addTag.css">
    </head>
    <body>
        <%include header.ejs%>
        <form method="post">
            Enter the name of the tag to be added:<input type="text" name="tag" required>
            <input type="submit" value="Add Tag">
        </form>
        <% if(JSON.parse(JSON.stringify(data)).status == 'success') { %>
            <strong><%= JSON.parse(JSON.stringify(data)).msg %></strong>
        <% } %>
        <% if(JSON.parse(JSON.stringify(data)).status == 'failed') { %>
            <script> alert('<%= JSON.parse(JSON.stringify(data)).msg %>')</script>
        <% } %>
    </body>
</html>