<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/assets/css/login.css">
    <link rel="stylesheet" href="/assets/material-design-icons/iconfont/material-icons.css">
    <script src="/scripts/jquery/dist/jquery.min.js"></script>
    <script src="/scripts/login.js"></script>
    <title>Login</title>
  </head>
  <body>
    <div class="bg"></div>
    <%include header.ejs%>
    <button class="ripple signup_button">SignUp</button>
    <button class="ripple login_button">Login</button>
    <div class='welcome'>Welcome to CodesKool!! </div>
    <div id="card" class="login_card">
      <div class="name">Login</div>
      <form class="login_form" action="/login" method="post">
        <div class="close"></div>
        <i class="material-icons">person</i><input type="text" name="loguserName" id="userName" required  placeholder="Username">
        <i class="material-icons">vpn_key</i><input type="password" name="logpassword" id="password" placeholder="Password">
        <input type="submit" name="submit" value="Login" class="ripple">
        <% if( JSON.parse(JSON.stringify(data)).status == 'success' && JSON.parse(JSON.stringify(data)).l_msg ) { %>
          <br><strong><%= JSON.parse(JSON.stringify(data)).l_msg %></strong>
        <% } %>
        <% if (JSON.parse(JSON.stringify(data)).status == 'failed' && JSON.parse(JSON.stringify(data)).l_msg ) { %>
          <script>alert("<%= JSON.parse(JSON.stringify(data)).l_msg %>")</script>
        <% } %>
      </form>
    </div>

    <div id="card" class="signup_card">
      <div class="name">Sign Up</div>
      <form class="login_form" action="/login" method="post">
        <div class="close"></div>
        <i class="material-icons">person</i><input type="text" name="userName" id="userName" placeholder="Username" required >
        <i class="material-icons">vpn_key</i><input type="password" name="password" id="password" placeholder="Password" required>
        <i class="material-icons">vpn_key</i><input type="password" name="confPassword" id="password" placeholder="Retype Password" required>
        <i class="material-icons">mail</i><input type="email" name="email_id" placeholder="Email">
        <div id="preferences">Choose your preferences</div>
        <% var tag_list=JSON.parse(JSON.stringify(data)).tags %>
				<% for(var i=0;i<tag_list.length;i++) {%>
				<label class="container"><%= tag_list[i].category %>
          <input type="checkbox" value="<%= tag_list[i].category %>" name="preferences[]">
          <span class="checkmark"></span>
				</label>
				<% }%>
				 <br>
        <input type="submit" name="submit" value="Sign Up" class="ripple">
      </form>
    </div>

    </div>
  </body>
</html>
