<html>
  <head>
    <title>Practice Page</title>
      <link rel="stylesheet" href="/assets/css/practice.css">
      <script type="text/javascript">
        function clicked(value){
          var tags = []
          var categories="Selected Tags:\n";
          var form = document.getElementById('categories');
          var boxes = form.getElementsByTagName('input');
          for(var i = 0; i< boxes.length;i++){
            if(boxes[i].type === 'checkbox' && boxes[i].checked == true){
              tags.push(boxes[i].value);
              categories += boxes[i].value+"\n";
              }
            }
            // document.getElementById('selected').innerHTML = categories;
            if(tags.length != 0)
              document.getElementById('categories').submit();
            else{
              var form = document.createElement('form');
              form.setAttribute('action','practice');
              form.setAttribute('method','get');
              form.setAttribute('id','getreq');
              document.getElementById('categories').appendChild(form);
              document.getElementById('getreq').submit();
            }
          }
        </script>
    </head>
    <body>
      <%include header.ejs%>
      <aside class="problems">
      <h1>Problems</h1>
      <% for(var i=0;i<docs.length;i++) {%>
        <div class="problem">
          <strong>Problem: </strong>
          <%= JSON.parse(JSON.stringify(docs[i])).pstatement %>
          <form action="solve" method="post" >
            <input type="text" name="id" hidden value="<%= JSON.parse(JSON.stringify(docs[i]))._id %>">
            <input type="submit" name="" value="Solve">
          </form>
        </div> <br>
        <% }%>
      </aside>
      <aside class="tags">
        <form action="check" method="post" id="categories">
          <% for(var i=0;i<disptags.length;i++) {%>
            <label class="container"><%=JSON.parse(JSON.stringify(disptags[i])).category %>
              <input type="checkbox" value="<%=JSON.parse(JSON.stringify(disptags[i])).category %>" name="tags[]" onclick="clicked(this.value);" <% if(tags!= undefined && tags.indexOf(JSON.parse(JSON.stringify(disptags[i])).category)!= -1){ %> checked <% } %> />
              <span class="checkmark"></span>
            </label>
          <% } %>
        </form>
      </aside>
  </body>
</html>