header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    overflow: hidden;
    background-color:#3d18b3;
    height: 60px;
    width: 100%;
    box-shadow: 0px 3px 7px rgba(0, 0, 0,0.5),
              0px 2px 2px rgb(0,0,0,0.49);
}

.username{
    font-size: 25px;
    position: fixed;
    right: 20px;
    top: 14px;
    z-index: 200;
    color: #eee6f8;
    font-weight: bolder;
}

.username i{
    position: relative;
    top: 4px;
    margin-right: 6px;
}

.username ul{
    width: max-content+10px;
    position: relative;
    top: 10px;
    display: none;
    background-color: #ffffff;
    padding: 0px 0px;
    text-align: center;
    margin: 0px 0px;
    border-radius: 2px 2px 5px 5px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0,0.5),
                0px 2px 2px rgb(0,0,0,0.49);
}

.username ul li{
    display: block;
    height: 30px;
    list-style: none;
}

.username ul li a{
    display: block;
    position: relative;
    top: 6px;
    color: #1e06a8;
    font-size: 15px;
    text-decoration: none;
}

.username:hover{
    cursor: pointer;
}
.username:hover ul{
    cursor: pointer;
    display: block;
}

.username ul li:hover{
    background-color: #dedede;
}

.username ul li:nth-last-child(1){
    border-radius: 0px 0px 8px 8px;
}
