html,body{
  font-family: monospace;
  margin: 0 0;
  height: 100%;
}

.bg{
  background-image: url("/assets/images/bg_image.jpg");
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -1;
}

input{
  background-color: #ffffff;
  font-family: monospace;
  display: block;
  margin: auto auto;
  margin-bottom: -10px;
  height: 30px;
  padding-left: 10px;
  border: none;
  border-bottom: 2px black solid;
}

input:focus{
  outline: none;
  border-bottom: 2px #2b87d2 solid;
}

input[type="submit"]{
  background-color: #2c2c2c;
  margin: 0 auto;
  border: none;
  color: white;
  position: relative;
  top: 30px;
  left: -20px;
  padding: 0px 15px;
  border-radius: 4px;
}
input[type="submit"]:hover{
  background-color:#0a0a0a;
  color: white;
  cursor: pointer;
}

input[type="email"]{
  margin-bottom: 15px;
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-left: 8px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #3d18b3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

#preferences{
  position: relative;
  left: 20px;
  font-size: 16px;
  font-weight: bolder;
  color: #3d18b3;
  margin-bottom: 5px;
}

#card{
  position: absolute;
  top: -650px;
  left: 490px;
  width: 250px;
  opacity: 0.8;
  padding: 60px 60px;
  display: table;
  /* margin: 10% auto; */
  padding-left: 74px;
  padding-right: 42px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0,0.5),
              0px 6px 6px rgb(0,0,0,0.49);
}

header{
  box-shadow: 0px 3px 7px rgba(0, 0, 0,0.5),
              0px 2px 2px rgb(0,0,0,0.49);
}

i{
  color:black;
  position: relative;
  top: 36px;
  left: 8px;
}

.name{
  font-size: 20px;
  font-weight: bolder;
  color: #093d83;
  position: relative;
  left: 75px;
}

button{
  outline: none;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #1e06a8;
  border: none;
  color: #e2f0f9;
  font-weight: bolder;
  padding: 10px 15px;
  border-radius: 3px;
  box-shadow: 0px 3px 7px rgba(0, 0, 0,0.5),
              0px 2px 2px rgb(0,0,0,0.49);
}

.welcome{
    position: absolute;
    left: 31%;
    top: 30%;
    font-size: 45px;
    color: #eee6f8;  
}

/* Ripple effect */
.ripple {
  background-position: center;
  transition: background 0.8s;
  
}
.ripple:hover {
  color: #e2f0f9;
  cursor: pointer;
  background: #1e06a8 radial-gradient(circle, transparent 1%, #1e06a8 1%) center/15000%;
}
.ripple:active {
  background-color: #6eb9f7;
  background-size: 100%;
  transition: background 0s;
}

.login_button{
  margin-right: 100px;
}

.close {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}
.close:hover {
  opacity: 1;
  cursor: pointer;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 20px;
  width: 1.5px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}
